<div class="container">
  <section class="header">
    <h1>{{title}}</h1>
    <p><strong>TechBags</strong> is the most effective method of finding a backpack that best suits your needs.</p>
  </section>
</div>
  <section class="page-content" id="full-width-section">
    <div class="container">
      <div class="four columns">
        <h3>Why?</h3>
        <p>I started this becasue I got sick of buying a backpack just to find out the build quality was crap or it didn't fulfill my needs as well as it was advertised. </p>
      </div>
      <div class="four columns">
        <h3>What is this?</h3>
        <p><strong>TechBags</strong> is dedicated to becoming the best crowdsourced backpack/bag review site. </p>
      </div>
      <div class="four columns">
        <h3>How do I use it?</h3>
        <p>Easy! If you're in the market for a bag, search for either a use case, a size, a manufacturer... almost anything! Our search engine will find a varieity of bags and reviews for you to look through and help influence your decision. </p>
      </div>
    </div>
  </section>
<div class="container">
  <section class="page-content">
    <h3>Search for a bag</h3>
    <input type="text" name="name" value="" placeholder="Search by manufacturer">
    <button type="submit" class="button-primary" name="button">Search</button>
  </section>
</div>
