<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' >
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/bags">Bags</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
          <li class="navbar-item u-pull-right"><a class="navbar-link" href="/login">Login</a></li>
          <li class="navbar-item u-pull-right"><a class="navbar-link" href="/register">Register</a></li>
        </ul>
      </div>
    </nav>

    {{{body}}}

    <section id="footer">
      <div class="container">
        <div class="twelve columns">
          <a class="random-link" href="#">Github</a>
          <a class="random-link" href="#">About Me</a>
          <p>Built by <a id="twitter-link" class="random-link" href="https://twitter.com/C4MIV3R">Cam Iverson</a>. I'll be looking to continue supporting this as time goes on.</p>
        </div>
      </div>
    </section>
  </body>
</html>
