<section class="header">
  <div class="container">
    <div class="twelve columns">
      <h2>Login</h2>
      <form class="" action="/login" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" value="" placeholder="Username">
        <label for="passwordHash">Password: </label>
        <input type="password" name="passwordHash" value="" placeholder="Password"><br>
        <button type="submit" class="button-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
