<section class="header">
  <div class="container">
    <div class="twelve columns">
      <h2>Register</h2>
      <form class="" action="/register" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" value="" placeholder="Username">
        <label for="password">Password: </label>
        <input type="password" name="passwordHash" value="" placeholder="Password">
        <label for="email">Email: </label>
        <input type="email" name="email" value="" placeholder="Email">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" value="" placeholder="First Name">
        <label for="lastName">Last Names: </label>
        <input type="text" name="lastName" value="" placeholder="Last Name">
        <br><button type="submit" class="button-primary" name="register_submit">Submit</button>
      </form>
    </div>
  </div>
</section>
